<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="links">
    <a href="/">Home</a>|<a href="logout">Log out</a>|<a href="profile">My profile</a>
</div>
<div id="aside">
    <a href="inc">Organization</a><br>
    <a href="clients">Clients</a><br>
    <a href="messages">Messages</a>
</div>
Add, remove or modify client's data
<form name="new_client" action="new_client" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td>Organization:</td>
            <td>
                <input type="text" name="organization">
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text" name="email">
            </td>
        </tr>
        <tr>
            <td>Telegram address:</td>
            <td>
                <input type="text" name="telegram">
            </td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td>
                <input type="text" name="phone">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="submit" value="Submit">
                <input type="reset" name="reset" value="Reset">
            </td>
        </tr>
    </table>
</form>
</body>
</html>