<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="links">
    <a href="/">Home</a>|<a href="login">Log in</a>|<a href="sign_up">Sign up</a>
</div>
<h1>Something went wrong with:</h1>
{{ error_message }}
<form action="{{ next }}" method="get">
    <input type="submit" value="Continue" name="next">
</form>
</body>
</html>