<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="links">
    <a href="/">Home</a>|<a href="logout">Log out</a>|<a href="profile">My profile</a>
</div>
<table id="main" width="100%">
    <tr>
        <td>
            Content goes here!
        </td>
        <td>
            Links here!
            <div id="aside">
                <a href="inc">Organization</a><br>
                <a href="clients">Clients</a><br>
                <a href="messages">Messages</a>
            </div>
        </td>

    </tr>
</table>
</body>
</html>