<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="links">
    <a href="/">Home</a>|<a href="logout">Log out</a>|<a href="profile">My profile</a>
</div>
<table id="main" width="100%">
    <tr>
        <td>
            Add, remove or modify client's data
            <form name="new_client" action="new_client" method="post">
                <table>
                    <tr>
                        <td>First name:</td>
                        <td>
                            <input type="text" name="first_name">
                        </td>
                    </tr>
                    <tr>
                        <td>Last name:</td>
                        <td>
                            <input type="text" name="last_name">
                        </td>
                    </tr>
                    <tr>
                        <td>Organization:</td>
                        <td>
                            <input type="text" name="organization">
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            <input type="text" name="email">
                        </td>
                    </tr>
                    <tr>
                        <td>Telegram address:</td>
                        <td>
                            <input type="text" name="telegram">
                        </td>
                    </tr>
                    <tr>
                        <td>Phone number:</td>
                        <td>
                            <input type="text" name="phone">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="submit" value="Submit">
                            <input type="reset" name="reset" value="Reset">
                        </td>
                    </tr>
                </table>
            </form>
        </td>
        <td id="aside" width="130" height="100%">
            <a href="inc">Organization</a><br>
            <a href="new_customer">New customer</a>
            <a href="customers">Customers</a><br>
            <a href="messages">Messages</a>
        </td>

    </tr>
</table>
</body>
</html>