<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="links">
    <a href="/">Home</a>|<a href="logout">Log out</a>|<a href="profile">My profile</a>
</div>
<table id="main" width="100%">
    <tr>
        <td>
            <h3>This is my organization profile</h3>
            <table id="org_profile" border="1" cellspacing="5" cellpadding="5" width="500">
                <tr>
                    <td>Name:</td>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <td>Admin:</td>
                    <td>
                        <ul>
                            {% for member in admin %}
                            <li>{{ member }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Employees:</td>
                    <td>
                        <ul>
                            {% for member in employees %}
                            <li>{{ member }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Clients:</td>
                    <td>
                        <ul>
                            {% for client in clients %}
                            <li>{{ client }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <div id="aside">
                <a href="inc">Organization</a><br>
                <a href="clients">Clients</a><br>
                <a href="messages">Messages</a>
            </div>
        </td>

    </tr>
</table>
</body>
</html>