<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="links">
    <a href="/">Home</a>|<a href="logout">Log out</a>|<a href="profile">My profile</a>
</div>
<table id="main" width="100%">
    <tr>
        <td>
            <h3>Personal profile</h3>
            <table id="profile_table" border="1" cellspacing="5" cellpadding="5" width="500">
                <tr>
                    <td>
                        Profile image:
                    </td>
                    <td>
                        Upload
                    </td>
                </tr>
                <tr>
                    <td>User email:</td>
                    <td>{{ email }}</td>
                </tr>
                <tr>
                    <td>Nickname:</td>
                    <td>{{ nickname }}</td>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td>{{ first_name }}</td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>{{ last_name }}</td>
                </tr>
                <tr>
                    <td>Public info:</td>
                    <td>{{ bio }}</td>
                </tr>
                <tr>
                    <td>
                        Edit profile<br>or change password
                    </td>
                    <td align="center">
                        <form name="edit profile" action="edit_profile" method="post">
                            <input type="submit" name="submit" value="Edit">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        Delete profile
                    </td>
                    <td align="center">
                        <form name="delete profile" action="delete_profile" method="post">
                            <input type="submit" name="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
        <td id="aside" width="130" height="100">
            <a href="friends">Friends</a><br>
            <a href="customers">Groups</a><br>
            <a href="messages">World</a>
        </td>
    </tr>
</table>

</body>
</html>