<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="links">
    <a href="/">Home</a>|<a href="logout">Log out</a>|<a href="my_profile">My profile</a>
</div>
<h3>Hello, this is my profile</h3>
<ul>
    <li>My name is {{ user }}</li>
    <li>My password is {{ password }}</li>
    <li>My organization is {{ organization }}</li>
</ul>
</body>
</html>