body{
font-family: Verdana;
background: #4b5a66;
color: #e1e6eb
}

#main{
}

#aside{
align: right;
text-align: left;
border: 2px solid #e3a144;
border-radius: 4px;
background: #86b5db;
padding: 5px;
}

#profile_table{
text-align: center;
border: 1px solid #e3a144
}

#links {
text-align:right;
font-size: 120%;
border: 2px solid #e3a144;
border-radius: 4px;
background: #86b5db;
padding:10px;
}

#signup_css {
text-align: left;
line-height: 1em;
padding: 10px;
margin: 10px;
}