{% extends "general_template.html" %}

{% block content %}
<div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>
                {{ form.old_password.label }}:<br>
                {{ form.old_password(size=32, autocomplete=off) }}
                {% for error in form.old_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.new_password.label }}:<br>
                {{ form.new_password(size=32, autocomplete=off) }}
                {% for error in form.new_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.repeat_new_password.label }}:<br>
                {{ form.repeat_new_password(size=32, autocomplete=off) }}
                {% for error in form.repeat_new_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        <p>
            {{ form.cancel() }} {{ form.submit() }}
        </p>
    </form>
</div>
{% endblock %}