<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Your own private social net" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Connect!</title>
    {% endif %}
</head>
<body>
<div id="links">
    <a href="{{ url_for('index') }}">Home</a> |
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a> |
    <a href="{{ url_for('sign_in') }}">Register</a>
    {% else %}
    <a href="{{ url_for('logout') }}">Logout</a> |
    <a href="{{ url_for('profile') }}">Profile</a>
    {% endif %}
</div>

{% block content %}{% endblock %}

{% if current_user.is_authenticated %}
<div id="aside">
    {% include '_links.html' %}
</div>
{% else %}
{% endif %}

</body>
</html>