<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Your own private social net" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Connect!</title>
    {% endif %}
</head>
<body>
<div id="links">
    <a href="{{ url_for('index') }}">Home</a>|<a href="{{ url_for('login') }}">Log in</a>|<a href="{{ url_for('sign_in') }}">Sign In</a>
</div>

{% block content %}{% endblock %}

</body>
</html>