<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="links">
    <a href="/">Home</a>|<a href="logout">Log out</a>|<a href="profile">My profile</a>
</div>
<table id="main" width="100%">
    <tr>
        <td>
            Content goes here!
        </td>
        <td id="aside" width="130" height="100">
            <a href="friends">Friends</a><br>
            <a href="groups">Groups</a><br>
            <a href="messages">World</a>
        </td>

    </tr>
</table>
</body>
</html>